<!DOCTYPE html>
<html lang="en">
  <head>
    <title>OpenFLAP</title>
  </head>
  <body>
          <div class="d-flex align-items-center justify-content-center">
                <h1>Welcome to our first project!</h1>
          </div>
    <h1>OpenFLAP Editors and Tools</h1>

    <ul>
      <li> <a href="FA">Finite Automata Editor</a> (This is often
      where you want to start, to access some of the conversion
        tools.)
      <li> <a href="PDAEditor">Push-Down Automata Editor</a>
      <li><a href="REtoFA">Convert a regular expression to a
          finite automata</a>
      <li><a href="TMEditor">Turing Machine Editor</a>
      <li><a href="GrammarEditor">Grammar Editor</a>
    </ul>
  </body>
</html>

